@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
  url('/images/wallpaper.webp');
  background-repeat: repeat;
  background-size: 150px 150px;
  background-position: top left;
}

@keyframes move-up {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-50%); } /* move up by half the image */
}

@keyframes move-down {
  0% { transform: translateY(0%); }
  100% { transform: translateY(50%); } /* move down by half the image */
}

.animate-up {
  animation: move-up 5s ease-in-out infinite alternate;
}

.animate-down {
  animation: move-down 5s ease-in-out infinite alternate;
}